@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --heading-color: #444;
  --text-color: #999;
  --primary: '#8d69f1';
  --highlight: '#d13267';
  --bg-color: #f4f4f4;
}

@layer components {
    label {
        @apply text-slate-800;
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="file"] {
        @apply border-none outline outline-gray-200 outline-[2px] rounded-md; 
    }
    input[type="file"] {
        @apply p-3;
    }
    label span {
        @apply mb-3;
    }
    .page-title {
    font-size: 1rem;
        @apply text-slate-500;
    }
    .button {
        @apply bg-slate-800 text-white py-2 px-8 rounded-full;
    }
    .sidebarLink.active {
        @apply bg-background rounded-tl-full rounded-bl-full text-slate-700; 
    }
    .sidebarLink.active .icon {
        @apply text-slate-700;
    }
    .error {
        @apply text-red-500 bg-pink-300/25 border border-red-500 rounded-md p-2 my-3 mx-0;
    }
}
